/* Global body style */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:#e4e4e5;
}

/* Input fields style */
.input-field {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #d1d5db; /* gray-300 */
  border-radius: 0.375rem; /* rounded-md */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  outline: none;
}

.input-field:focus {
  border-color: #60a5fa; /* blue-300 */
  box-shadow: 0 0 0 3px rgba(96, 165, 250, 0.5); /* focus:ring */
}

/* Submit button style */
.kirim-button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #6956fa; /* pink-200 */
  color: white;
  font-weight: 600;
  border-radius: 0.375rem; /* rounded-md */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
  cursor: pointer;
}

.kirim-button:hover {
  background-color: #eb1616; /* pink-300 */
}

.kirim-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(96, 165, 250, 0.5); /* focus:ring */
}
